body {
  background-color: #6667ab;
}

/* ==================== nav CSS 시작 ==================== */

nav {
  background-color: rgba(255, 255, 255, 0.07);
}

header .nav {
  display: flex;
  justify-content: space-around;
  padding: 20px 40px;
}

header .nav li {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  padding-top: 3px;
}

header .nav a {
  color: #fff;
}

header .nav li:nth-child(1) {
  padding-left: 30px;
}

header .nav li:nth-child(3) {
  padding-right: 30px;
}

header .nav li a {
  display: inline-block;
  width: 80px;
  height: 32px;
}

header .nav li span {
  display: block;
  font-family: "LINESeedKR-Bd";
}

header .nav li img {
  display: none;
}

header .nav li a:hover img {
  display: block;
  width: 65%;
  translate: 10px -8px;
}

header .nav li a:hover span {
  display: none;
}

/* ==================== nav CSS 끝 ==================== */

.mynameis {
  padding-top: 9%;
  padding-left: 12%;
  color: white;
}

.mynameis h1 {
  font-size: 130px;
  font-weight: 900;
}

.mynameis span {
  font-size: 130px;
}

.mynameis h1 span {
  font-weight: 900;
  color: #f7cac9;
}

.mynameis p {
  display: block;
  font-size: 130px;
  font-weight: 900;
  padding-top: 10px;
}

.mynameis span.mbti {
  color: #25266c;
}

.mynameis span.frontend {
  color: #96dcf6;
}

header a.pantone {
  display: inline-block;
  width: 100%;
  padding-top: 98px;
}

header a.pantone span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.3);
}
